# Estrutura de dados:

Listas:

In [3]:
lista_1 = [1, 2, 3, 4, 5]
lista_1.append(6)
lista_1

[1, 2, 3, 4, 5, 6]

In [4]:
lista_2 = [7, 8, 9, 10]

In [5]:
nova_lista = lista_1 + lista_2
nova_lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
lista_str = ["oi", "tudo", "bem?"]

x = nova_lista + lista_str
x

# Podemos atribuir em uma lista valores de tipos diferentes, não restrigindo em seu conjunto,
# isto é, o escopo delimitado entre os colchetes, termos de tipos, natureza, diferentes, podendo
# compreender em si strings, booleanos, floats e inters, parecido com o exemplo abaixo.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'oi', 'tudo', 'bem?']

In [13]:
lista = [1, 4, 5, 2, 7, 6, 3, 8, 11, 22, 15]
lista

[1, 4, 5, 2, 7, 6, 3, 8, 11, 22, 15]

In [14]:
lista.sort() # A função sort() é usada para ordenar, do menor para o maior, os valores presentes numa lista.
lista

[1, 2, 3, 4, 5, 6, 7, 8, 11, 15, 22]

# Tupla

Coleções de dados ordenados e imutáveis, formadas por meio do uso de parênteses, com seus valores separados por vírgula.

In [15]:
# Forma de uma tupla:

a = (1, 2)
a

(1, 2)

**Acessando uma tupla:**

Conseguimos acessar uma tupla da mesma forma que fazemos com as listas, como veremos a seguir:

In [17]:
print(a[0], a[1])

1 2

Também permite atribuir valores de tipos diferentes em um determinado conjunto, como string, int, float ou boolean:

In [44]:
b = (1, 2, "Grupo935")

x, y, z = b

print(x)
print("")
print(y)
print("")
print(z)

1

2

Grupo935

# Conjunto:

Um tipo de coleção de dados não ordenados e com dados não duplicados. É definido, formado por meio do uso de chaves ("{ }"). Podemos, ainda, criar um conjunto por meio da função *set()*. Os conjuntos são oriundos da matemática.

In [20]:
pares = {8, 4, 12, 22, 44, 76, 88, 90, 18, 16, 14, 6, 2}
pares

{2, 4, 6, 8, 12, 14, 16, 18, 22, 44, 76, 88, 90}

In [22]:
pares = {8, 8, 8, 4, 4, 4, 12, 12, 12, 22, 44, 76, 88, 90, 18, 16, 14, 6, 6, 6, 2}
pares

{2, 4, 6, 8, 12, 14, 16, 18, 22, 44, 76, 88, 90}

Como podemos ver acima, os conjuntos não permitem valores duplicados, além do que ordenam, de modo ascendente, os valores a eles passados. Então quando uma coleção de dados diz ser ordenada ou não odernada quer dizer se ela respeita ou não a ordem dos termos que as elas foram passadas? Bom, baseado nisso, penso que sim.

In [27]:
conjunto_1 = {0, 2, "x", 5, 6, True, False, 1.5}
conjunto_1

{0, 1.5, 2, 5, 6, True, 'x'}

In [28]:
conjunto_2 = {1, 2, "x", 5, 6, True, False, 1.5}
conjunto_2

{1, 1.5, 2, 5, 6, False, 'x'}

Assim como nas listas, os conjuntos permitem que valores de tipos diferentes podem ser a eles segmentados, mas com uma diferença: perceba que ele separa os tipos de valores numa ordem, cada qual para valores numéricos, que podem ser inteiros ou decimais, valores booleanos (lógicos), e valores de caracteres, isto é, strings.


Por outro lado, notou a diferença do conjunto_1 em relação ao conjunto_2? Quando eu passei o valor "0" no primeiro, o valor booleano "False" foi desconsiderado, justamente porque o número 0 corresponde, numericamente, a esse respectivo valor booleano. Desse modo, como os conjuntos não permitem valores duplicados, ele deixa de ser impresso. O mesmo ocorre com o conjunto_2, no qual o "True" deixará de existir, por assim dizer, tendo em vista que o " 1 " está presente no conjunto.

**Formando um conjunto por meio da função set():**

In [29]:
x = "Tinho"
x = set(x)
x

{'T', 'h', 'i', 'n', 'o'}

Podemos, ainda realizar operações matemáticas de união, de interseção e de diferença (subtração), com os conjuntos, como por exemplo:

**União:**

In [31]:
pares = {2 , 4, 6, 8, 10}
impares = {1, 3, 5, 7, 9}

pares | impares

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Interseção:**

In [32]:
primos = {2, 3, 5, 7, 11, 13}

primos & impares

# O operador " & " realiza aqui a operação matemátca
# de interseção, selecionando apenas os valores que
# estão presentes em ambos os conjuntos.

{3, 5, 7}

**Diferença:**

In [35]:
primos - impares

# Por meio da diferença de um conjunto em relação ao outro,
# resta apenas os valores que somente se encontram presentes
# no conjunto dos números primos.

{2, 11, 13}

# Dicionários:

Estruturas de dados do tipo (chave : valor), na medida em que uma determinada chave representa um determinado valor. Podem ser compreendidos como um conjunto de dados de tipo chave: valor. Vejamos como são construídos.

In [37]:
dicionario = {"x":1, "y":2, "z":3}
dicionario

{'x': 1, 'y': 2, 'z': 3}

Para acessar os valores do dicionário, como fazíamos com as listas ou tuplas, não basta escrever da seguinte forma: dicionario[2]. Se dicionário obedecesse a lógica de acesso de uma lista ou tupla, dal ação nos permitiria acessar o valor 3, valor da chave "y". Da mesma forma, para acessá-lo, precisamos falar qual é a chave que ele se encontra, como veremos abaixo.

In [41]:
dicionario["z"]

3

Podemos adicionar novas chaves e valores associados a elas da seguinte forma nos dicionários:

In [42]:
dicionario["a"] = 5
dicionario

{'x': 1, 'y': 2, 'z': 3, 'a': 5}

In [43]:
len(dicionario)

4

# Estrutura de decisão condicional if, elif e else:

Além desses elementos de sintaxe, o Python provê uma estrutura de decisão condicional, baseada na estrutura se ( if ), senão for ( elif ) e senão ( else ). Por exemplo:

In [ ]:
x = int(input("Quantos anos você tem?"))

if x == 0:
	print("Parabéns, parece que você acabou de nascer e tem %d anos de idade." % x)

elif x < 0:
	print("Algo de errado não está certo, você não pode ter %d anos de idade." % x)

elif x > 100:
	print("Certeza que você não é japonês(sa)? Você tem %d anos de idade!" % x)

else:
	print("Você tem %d anos de idade" % x)

Note como o ***elif*** opera, ele sempre se dá na dinâmica da negação do processo anterior, sendo a sua afirmação verdadeira. Poderíamos entender a patir desse código como o seguinte: Se você não tem uma idade equivalente a zero, então você pode ter uma idade menor que zero; se você não tem uma idade menor que zero, então você tem uma idade superior a cem.

O ***else***, por sua vez, vem na negação de todas as condições anteriores, isto é, se a sua idade não é igual a zero, menor que zero, ou maior que cem, ele irá realizar o código circunscrito à condição ***else***.

# Estrutura de Repetição (While Loop & For Loop):

As estruturas de repetição compreendidas no Python são tanto os ciclos while e for, cada qual com as suas particularidades. Por meio delas, conseguimos realizar operações automatizadas, quer seja gerando um bloco de valores na formação de alguma coleção de dados qualquer, quer seja percorrendo valores presentes numa coleção de dados (ciclo for).

**While Loop:**

A estrutura de repetição while repete a execução de um bloco de código identado enquanto que a sua condição for verdadeira. Por exemplo:

In [20]:
i = 2

while i <= 20:
  print(i, end=",") # Esse recurso end que eu utilizo é para que os valores sejam mostrados em linha, cada quais separados por vírgula.
  i = i + 2

2,4,6,8,10,12,14,16,18,20,

Esse código se inicia com o valor de “ i “ valendo dois, que é menor do que 20, sendo esse impresso. Depois de ser impresso, será executado uma soma matemática, de tal forma que quando passar novamente pelo ciclo, seu valor impresso será quatro. Depois seu valor será somado por dois novamente, o qual irá passar no ciclo novamente, tendo o valor seis impresso e assim por diante. Enquanto a condição de “ i “ for verdadeira, isto é, ele ser menor ou igual a 20, o código será executado.

**For Loop:**

A estrutura de repetição for é usado quando queremos percorrer os valores de uma sequência de uma coleção de dados, como uma lista por exemplo, e executar um determinado comando para cada elemento. Por exemplo:

In [21]:
lista = [1,3,5,7,9,11,13,15]
for i in lista:
  print(i, end=",")

1,3,5,7,9,11,13,15,

Como podemos ver aqui, o ciclo for percorreu todos os valores da lista, mas podemos fazer com ele o que fizemos com o while loop? Ou seja, querer escrever um conjunto de dados sem que precisamos fazer, para tanto, manualmente ou por meio do ciclo while? A resposta é sim, veremos como fazer:

In [22]:
for i in range(2, 1002, 2):
	print(i, end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,402,404,406,408,410,412,414,416,418,420,422,424,426,428,430,432,434,436,438,440,442,444,446,448,450,452,454,456,458,460,462,464,466,468,470,472,474,476,478,480,482,484,486,488,490,492,494,496,498,500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,602,604,606,608,610,612,614,616,618,620,622,624,626,628,630,632,634,636,638,640,642,644,646,648,650,652,654,656,658,660,662,664,666,668,670,672,674,676,678,680,682,684,686,688,690,692,694,696,698,700,702,704,706,708,710,712,714,716,718,720,722,724,726,728,730,732,734,736,738,740,742,744,746,748,750,752,754,756,758,760,762,764,766,768,770,772,774,776,778,780,782,784,786,788,790,792,794,796,798,800,802,804,806,808,810,812,814,816,818,820,822,824,826,828,830,832,834,836,838,840,842,844,846,848,850,852,854,856,858,860,862,864,866,868,870,872,874,876,878,880,882,884,886,888,890,892,894,896,898,900,902,904,906,908,910,912,914,916,918,920,922,924,926,928,930,932,934,936,938,940,942,944,946,948,950,952,954,956,958,960,962,964,966,968,970,972,974,976,978,980,982,984,986,988,990,992,994,996,998,1000,

O conjunto de números que não aparecem aqui é porque simplesmente não caberiam e dificultaria a visualização, mas vamos entender o código acima. Quando eu digo que o i irá passar em um alcançe (range) de 1002 valores, começando no número 2 e “pulando” os valores subsequentes de dois em dois, ele forma esse conjunto de dados. O primeiro valor do parâmetro da função range indica onde começa, o seguinte parâmetro indica onde termina, e o terceiro indica como se sucederá a sequência dos valores - caso não informamos um valor em especial, por padrão, ele passará para os valores seguintes. Como no Python o último valor sempre é omitido, incluindo dentro da função range( ), como queremos que esse conjunto de dados vá até o valor 1000, eu preciso, uma vez que eu “salto” de dois em dois, passar um alcançe limite de 1002.